In [1]:
import pandas as pd
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.metrics import pairwise_distances

In [2]:
df = pd.read_csv("G:\\360digit\\assignments meterial\\recommendation sys\\game.csv", encoding = 'utf8')

In [3]:
Mean = df.groupby(by="userId",as_index=False)['rating'].mean()
Rating_avg = pd.merge(df,Mean,on='userId')
Rating_avg['rating']=Rating_avg['rating_x']-Rating_avg['rating_y']
Rating_avg.head()

   userId                                  game  rating_x  rating_y  rating
0       3  The Legend of Zelda: Ocarina of Time       4.0       4.0     0.0
1       6              Tony Hawk's Pro Skater 2       5.0       4.0     1.0
2       6                 Alan Wake: The Writer       3.0       4.0    -1.0
3       8                   Grand Theft Auto IV       4.0       4.5    -0.5
4       8                             RoboBlitz       5.0       4.5     0.5

In [4]:
check = pd.pivot_table(Rating_avg,values='rating_x',index='userId',columns='game')
check.head()

game,'Splosion Man,007: The World is Not Enough,10 Second Ninja X,1001 Spikes,1701 A.D.,1979 Revolution: Black Friday,2002 FIFA World Cup,2010 FIFA World Cup South Africa,3D After Burner II,3D Gunstar Heroes,...,echochrome,echochrome ii,escapeVektor: Chapter 1,flower,ilomilo,inFamous,inFamous 2,inFamous: Festival of Blood,inFamous: Second Son,page not found
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
final = pd.pivot_table(Rating_avg,values='rating',index='userId',columns='game')
final.head()

game,'Splosion Man,007: The World is Not Enough,10 Second Ninja X,1001 Spikes,1701 A.D.,1979 Revolution: Black Friday,2002 FIFA World Cup,2010 FIFA World Cup South Africa,3D After Burner II,3D Gunstar Heroes,...,echochrome,echochrome ii,escapeVektor: Chapter 1,flower,ilomilo,inFamous,inFamous 2,inFamous: Festival of Blood,inFamous: Second Son,page not found
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
# Replacing NaN by Movie Average
final_game = final.fillna(final.mean(axis=0))

# Replacing NaN by user Average
final_user = final.apply(lambda row: row.fillna(row.mean()), axis=1)

In [7]:
final_game.head()

game,'Splosion Man,007: The World is Not Enough,10 Second Ninja X,1001 Spikes,1701 A.D.,1979 Revolution: Black Friday,2002 FIFA World Cup,2010 FIFA World Cup South Africa,3D After Burner II,3D Gunstar Heroes,...,echochrome,echochrome ii,escapeVektor: Chapter 1,flower,ilomilo,inFamous,inFamous 2,inFamous: Festival of Blood,inFamous: Second Son,page not found
userId,,,,,,,,,,,,,,,,,,,,,
1,2.0,-0.5,1.4,-1.0,-1.0,0.0,0.0,-0.125,0.333333,0.0,...,-0.375,-0.333333,0.0,0.0,-0.25,0.0,0.5,1.0,0.0,-0.333333
2,2.0,-0.5,1.4,-1.0,-1.0,0.0,0.0,-0.125,0.333333,0.0,...,-0.375,-0.333333,0.0,0.0,-0.25,0.0,0.5,1.0,0.0,-0.333333
3,2.0,-0.5,1.4,-1.0,-1.0,0.0,0.0,-0.125,0.333333,0.0,...,-0.375,-0.333333,0.0,0.0,-0.25,0.0,0.5,1.0,0.0,-0.333333
5,2.0,-0.5,1.4,-1.0,-1.0,0.0,0.0,-0.125,0.333333,0.0,...,-0.375,-0.333333,0.0,0.0,-0.25,0.0,0.5,1.0,0.0,-0.333333
6,2.0,-0.5,1.4,-1.0,-1.0,0.0,0.0,-0.125,0.333333,0.0,...,-0.375,-0.333333,0.0,0.0,-0.25,0.0,0.5,1.0,0.0,-0.333333

In [8]:
final_user.head()

game,'Splosion Man,007: The World is Not Enough,10 Second Ninja X,1001 Spikes,1701 A.D.,1979 Revolution: Black Friday,2002 FIFA World Cup,2010 FIFA World Cup South Africa,3D After Burner II,3D Gunstar Heroes,...,echochrome,echochrome ii,escapeVektor: Chapter 1,flower,ilomilo,inFamous,inFamous 2,inFamous: Festival of Blood,inFamous: Second Son,page not found
userId,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [9]:
# user similarity on replacing NAN by user avg
b = cosine_similarity(final_user)
np.fill_diagonal(b, 0 )
similarity_with_user = pd.DataFrame(b,index=final_user.index)
similarity_with_user.columns=final_user.index
similarity_with_user.head()

userId,1,2,3,5,6,7,8,10,11,12,...,7101,7102,7104,7107,7108,7110,7116,7117,7119,7120
userId,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [10]:
# user similarity on replacing NAN by item(game) avg
cosine = cosine_similarity(final_game)
np.fill_diagonal(cosine, 0 )
similarity_with_game = pd.DataFrame(cosine,index=final_game.index)
similarity_with_game.columns=final_user.index
similarity_with_game.head()

userId,1,2,3,5,6,7,8,10,11,12,...,7101,7102,7104,7107,7108,7110,7116,7117,7119,7120
userId,,,,,,,,,,,,,,,,,,,,,
1,0.000000,1.000000,1.000000,0.999972,0.999745,1.000000,0.999936,0.999984,0.999984,0.999857,...,1.000000,0.999993,1.000000,1.000000,1.000000,0.999964,0.999997,0.999984,1.000000,0.999984
2,1.000000,0.000000,1.000000,0.999972,0.999745,1.000000,0.999936,0.999984,0.999984,0.999857,...,1.000000,0.999993,1.000000,1.000000,1.000000,0.999964,0.999997,0.999984,1.000000,0.999984
3,1.000000,1.000000,0.000000,0.999972,0.999745,1.000000,0.999936,0.999984,0.999984,0.999857,...,1.000000,0.999993,1.000000,1.000000,1.000000,0.999964,0.999997,0.999984,1.000000,0.999984
5,0.999972,0.999972,0.999972,0.000000,0.999717,0.999972,0.999908,0.999956,0.999956,0.999828,...,0.999972,0.999965,0.999972,0.999972,0.999972,0.999936,0.999969,0.999956,0.999972,0.999956
6,0.999745,0.999745,0.999745,0.999717,0.000000,0.999745,0.999681,0.999729,0.999729,0.999602,...,0.999745,0.999738,0.999745,0.999745,0.999745,0.999709,0.999742,0.999729,0.999745,0.999729

In [11]:
def find_n_neighbours(df,n):
    order = np.argsort(df.values, axis=1)[:, :n]
    df = df.apply(lambda x: pd.Series(x.sort_values(ascending=False)
           .iloc[:n].index, 
          index=['top{}'.format(i) for i in range(1, n+1)]), axis=1)
    return df

In [12]:
# top 30 neighbours for each user
sim_user_30_u = find_n_neighbours(similarity_with_user,30)
sim_user_30_u.head()

,top1,top2,top3,top4,top5,top6,top7,top8,top9,top10,...,top21,top22,top23,top24,top25,top26,top27,top28,top29,top30
userId,,,,,,,,,,,,,,,,,,,,,
1,1,4635,4612,4613,4618,4622,4624,4627,4628,4629,...,4651,4655,4656,4657,4611,4609,4607,4606,4565,4567
2,1,4635,4612,4613,4618,4622,4624,4627,4628,4629,...,4651,4655,4656,4657,4611,4609,4607,4606,4565,4567
3,1,4635,4612,4613,4618,4622,4624,4627,4628,4629,...,4651,4655,4656,4657,4611,4609,4607,4606,4565,4567
5,1,4635,4612,4613,4618,4622,4624,4627,4628,4629,...,4651,4655,4656,4657,4611,4609,4607,4606,4565,4567
6,869,1,4635,4612,4613,4618,4622,4624,4627,4628,...,4649,4651,4655,4656,4657,4611,4607,4661,4606,4565

In [13]:
# top 30 neighbours for each user
sim_user_30_m = find_n_neighbours(similarity_with_game,30)
sim_user_30_m.head()

,top1,top2,top3,top4,top5,top6,top7,top8,top9,top10,...,top21,top22,top23,top24,top25,top26,top27,top28,top29,top30
userId,,,,,,,,,,,,,,,,,,,,,
1,3493,5209,5217,2753,5219,2749,2748,2746,2745,2743,...,2717,2715,5246,5247,5256,2709,2706,5213,2759,5172
2,1,3922,3894,3899,3912,3916,3917,3921,3924,3858,...,3779,3784,3788,3790,3791,3794,3804,3847,3809,3811
3,1,3922,3894,3899,3912,3916,3917,3921,3924,3858,...,3779,3784,3788,3790,3791,3794,3804,3847,3809,3811
5,6064,3921,3874,3894,3899,3912,3916,3917,3922,3852,...,3778,3779,3784,3788,3790,3791,3796,3842,3804,3809
6,869,1,3921,3894,3899,3912,3916,3917,3922,3858,...,3779,3784,3788,3790,3791,3794,3804,3847,3809,3811

In [14]:
def get_user_similar_game( user1, user2 ):
    common_game = Rating_avg[Rating_avg.userId == user1].merge(
    Rating_avg[Rating_avg.userId == user2],
    on = "game",
    how = "inner" )
    return common_game.merge( df, on = 'game' )

In [15]:
a = get_user_similar_game(1, 2)
a = a.loc[ : , ['rating_x_x','rating_x_y','game']]
a.head()

Empty DataFrame
Columns: [rating_x_x, rating_x_y, game]
Index: []